![Imagen](itd.png)

# Analisis De Datos Masivos
## Contador De Internet
    
## Nombre Del Docente
### Jose Gabriel Rodriguez Rivas
    
## Francisco javier Favela Najera

In [1]:
import datetime
# Python library to read and write csv files
import csv
# Python library to execute bash commands from the notebook.
# If you want to know more about this, check this resource: 
# http://www.pythonforbeginners.com/os/subprocess-for-system-administrators
import subprocess

In [2]:
date_time = datetime.datetime.now()
print(date_time, type(date_time))

2020-07-22 10:31:10.256883 <class 'datetime.datetime'>

In [3]:
date_time.strftime('%a, %d %b %Y %H:%M:%S')

'Wed, 22 Jul 2020 10:31:10'

In [4]:
date_time.strftime('%Y-%m-%d %H:%M:%S')

'2020-07-22 10:31:10'

In [5]:
speedtest_cmd = "speedtest-cli --simple"
process = subprocess.Popen(speedtest_cmd.split(), stdout=subprocess.PIPE)
process_output = process.communicate()[0]
print(process_output.decode("utf-8"))

Ping: 195.06 ms
Download: 2.17 Mbit/s
Upload: 0.78 Mbit/s

In [6]:
def speedtest():
    date_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    speedtest_cmd = "speedtest-cli --simple" 
    process = subprocess.Popen(speedtest_cmd.split(), stdout=subprocess.PIPE)
    process_output = process.communicate()[0]
    process_output = process_output.split()
    process_output.append(date_time)
    return process_output

In [7]:
speedtest()

[b'Ping:',
 b'809.917',
 b'ms',
 b'Download:',
 b'7.89',
 b'Mbit/s',
 b'Upload:',
 b'0.79',
 b'Mbit/s',
 '2020-07-22 10:31:59']

In [8]:
with open("test.txt",'w') as f:
    f.write('test_msg')

In [9]:
with open("test.txt",'r') as f:
    str = f.read()
print(str)

test_msg

In [10]:
def save_to_csv(data, filename):
    try:
        # If the file exists, append a new line to it, with the 
        #results of the current experiment
        with open(filename + '.csv', 'a') as f:
            # Create a csv writer object 
            wr = csv.writer(f)
            # Save (write) to file
            wr.writerow(data)
    except:
        # If it does not exist, create the file first
        with open(filename + '.csv', 'w') as f:
            # Hint: This is similar to appending new lines to a file.
            # Create a csv writer object
            wr = csv.writer(f)
            wr.writerow(data)
            # Save (write) to file
            # ADD CODE HERE

In [11]:
def print_from_csv(filename): 
    with open(filename + '.csv', 'r') as f:
        re = csv.reader(f)
        for row in re:
            print(', '.join(row))

In [12]:
for i in range(5):
    # Measure internet speed (speedtest_output) using the speedtest() created earlier
    speedtest_output = speedtest()
    # Print the test number
    print ('Test number {}'.format(i))
    # Print the result (The needed variable is speedtest_output)
    print(speedtest_output)
    save_to_csv(speedtest_output, 'rpi_data_test')

Test number 0
[b'Ping:', b'60.994', b'ms', b'Download:', b'8.05', b'Mbit/s', b'Upload:', b'0.83', b'Mbit/s', '2020-07-22 10:33:12']
Test number 1
[b'Ping:', b'53.724', b'ms', b'Download:', b'7.88', b'Mbit/s', b'Upload:', b'0.75', b'Mbit/s', '2020-07-22 10:33:46']
Test number 2
[b'Ping:', b'62.787', b'ms', b'Download:', b'8.04', b'Mbit/s', b'Upload:', b'0.81', b'Mbit/s', '2020-07-22 10:34:22']
Test number 3
[b'Ping:', b'54.245', b'ms', b'Download:', b'6.45', b'Mbit/s', b'Upload:', b'0.75', b'Mbit/s', '2020-07-22 10:34:56']
Test number 4
[b'Ping:', b'230.593', b'ms', b'Download:', b'1.77', b'Mbit/s', b'Upload:', b'0.84', b'Mbit/s', '2020-07-22 10:35:32']

In [13]:
print_from_csv('rpi_data_test')

b'Ping:', b'89.362', b'ms', b'Download:', b'4.81', b'Mbit/s', b'Upload:', b'0.72', b'Mbit/s', 2020-07-22 08:27:01

b'Ping:', b'96.249', b'ms', b'Download:', b'3.79', b'Mbit/s', b'Upload:', b'0.67', b'Mbit/s', 2020-07-22 08:27:31

b'Ping:', b'107.708', b'ms', b'Download:', b'6.32', b'Mbit/s', b'Upload:', b'0.52', b'Mbit/s', 2020-07-22 08:28:04

b'Ping:', b'97.369', b'ms', b'Download:', b'5.66', b'Mbit/s', b'Upload:', b'0.60', b'Mbit/s', 2020-07-22 08:28:40

b'Ping:', b'102.054', b'ms', b'Download:', b'2.35', b'Mbit/s', b'Upload:', b'0.47', b'Mbit/s', 2020-07-22 08:29:10

b'Ping:', b'94.974', b'ms', b'Download:', b'2.59', b'Mbit/s', b'Upload:', b'0.71', b'Mbit/s', 2020-07-22 08:32:46

b'Ping:', b'99.386', b'ms', b'Download:', b'4.74', b'Mbit/s', b'Upload:', b'0.54', b'Mbit/s', 2020-07-22 08:33:18

b'Ping:', b'85.611', b'ms', b'Download:', b'4.82', b'Mbit/s', b'Upload:', b'0.80', b'Mbit/s', 2020-07-22 08:33:49

b'Ping:', b'98.739', b'ms', b'Download:', b'5.45', b'Mbit/s', b'Upload:', b'0.56', b'Mbit/s', 2020-07-22 08:34:19

b'Ping:', b'90.796', b'ms', b'Download:', b'2.11', b'Mbit/s', b'Upload:', b'0.65', b'Mbit/s', 2020-07-22 08:34:53

b'Ping:', b'60.994', b'ms', b'Download:', b'8.05', b'Mbit/s', b'Upload:', b'0.83', b'Mbit/s', 2020-07-22 10:33:12

b'Ping:', b'53.724', b'ms', b'Download:', b'7.88', b'Mbit/s', b'Upload:', b'0.75', b'Mbit/s', 2020-07-22 10:33:46

b'Ping:', b'62.787', b'ms', b'Download:', b'8.04', b'Mbit/s', b'Upload:', b'0.81', b'Mbit/s', 2020-07-22 10:34:22

b'Ping:', b'54.245', b'ms', b'Download:', b'6.45', b'Mbit/s', b'Upload:', b'0.75', b'Mbit/s', 2020-07-22 10:34:56

b'Ping:', b'230.593', b'ms', b'Download:', b'1.77', b'Mbit/s', b'Upload:', b'0.84', b'Mbit/s', 2020-07-22 10:35:32

## Segunda parte

In [14]:
import datetime
import csv
import pandas as pd
# NumPy is a library that adds support for large, multi-dimensional arrays and matrices
# along with high-level mathematical functions to operate on these arrays
import numpy as np

In [15]:
data_file = 'rpi_data_long.csv'

In [16]:
column_names = [ 'Type A', 'Measure A', 'Units A',
                 'Type B', 'Measure B', 'Units B',
                 'Type C', 'Measure C', 'Units C', 
                 'Datetime']

In [17]:
with open(data_file, 'r') as f:
    df_redundant = pd.read_csv(f, names = column_names)

In [18]:
df_redundant.head()

,Type A,Measure A,Units A,Type B,Measure B,Units B,Type C,Measure C,Units C,Datetime
0,Ping:,26.992,ms,Download:,91.80,Mbit/s,Upload:,14.31,Mbit/s,24/11/2016 13:36
1,Ping:,24.532,ms,Download:,88.19,Mbit/s,Upload:,14.12,Mbit/s,24/11/2016 13:36
2,Ping:,20.225,ms,Download:,59.86,Mbit/s,Upload:,14.11,Mbit/s,24/11/2016 13:37
3,Ping:,19.332,ms,Download:,91.81,Mbit/s,Upload:,14.22,Mbit/s,24/11/2016 13:37
4,Ping:,22.494,ms,Download:,92.05,Mbit/s,Upload:,14.08,Mbit/s,24/11/2016 13:38

In [19]:
df_compact = df_redundant.copy()

In [20]:
df_compact.rename(columns={'Measure A':'Ping (ms)', 
                           'Measure B': 'Download (Mbit/s)',
                           'Measure C': 'Upload (Mbit/s)'}, inplace=True)
df_compact.head(3)

,Type A,Ping (ms),Units A,Type B,Download (Mbit/s),Units B,Type C,Upload (Mbit/s),Units C,Datetime
0,Ping:,26.992,ms,Download:,91.80,Mbit/s,Upload:,14.31,Mbit/s,24/11/2016 13:36
1,Ping:,24.532,ms,Download:,88.19,Mbit/s,Upload:,14.12,Mbit/s,24/11/2016 13:36
2,Ping:,20.225,ms,Download:,59.86,Mbit/s,Upload:,14.11,Mbit/s,24/11/2016 13:37

In [21]:
df_compact.drop(['Type A', 'Type B', 'Type C',
         'Units A', 'Units B', 'Units C'], axis=1, inplace=True)
df_compact.head()

   Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)          Datetime
0     26.992              91.80            14.31  24/11/2016 13:36
1     24.532              88.19            14.12  24/11/2016 13:36
2     20.225              59.86            14.11  24/11/2016 13:37
3     19.332              91.81            14.22  24/11/2016 13:37
4     22.494              92.05            14.08  24/11/2016 13:38

In [22]:
df_compact['Date'] = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str).date())

In [23]:
df_compact['Time'] = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str).time())

In [24]:
df_compact.drop(['Datetime'], axis=1, inplace=True)
df_compact.head()

   Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)        Date      Time
0     26.992              91.80            14.31  2016-11-24  13:36:00
1     24.532              88.19            14.12  2016-11-24  13:36:00
2     20.225              59.86            14.11  2016-11-24  13:37:00
3     19.332              91.81            14.22  2016-11-24  13:37:00
4     22.494              92.05            14.08  2016-11-24  13:38:00

In [25]:
print(df_compact['Date'][0], type(df_compact['Date'][0]) )
print(df_compact['Time'][0], type(df_compact['Time'][0]) )

2016-11-24 <class 'datetime.date'>
13:36:00 <class 'datetime.time'>

In [26]:
df_compact.to_csv('rpi_data_compact.csv')

In [27]:
df_compact

     Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)        Date      Time
0       26.992              91.80            14.31  2016-11-24  13:36:00
1       24.532              88.19            14.12  2016-11-24  13:36:00
2       20.225              59.86            14.11  2016-11-24  13:37:00
3       19.332              91.81            14.22  2016-11-24  13:37:00
4       22.494              92.05            14.08  2016-11-24  13:38:00
5       17.586              91.88            14.18  2016-11-24  13:39:00
6       21.835              92.18            14.07  2016-11-24  13:39:00
7       20.464              92.05            14.13  2016-11-24  13:40:00
8       19.293              90.79            14.14  2016-11-24  13:40:00
9       20.354              92.64            14.07  2016-11-24  13:41:00
10      19.010              91.86            14.38  2016-11-24  13:41:00
11      18.092              92.24            14.23  2016-11-24  13:42:00
12      18.137              91.64            14.32  2016-11-24  13:42:00
13      18.344              92.85            14.20  2016-11-24  13:43:00
14      23.328              92.21            14.20  2016-11-24  13:43:00
15      17.908              92.24            11.36  2016-11-24  13:43:00
16      19.291              92.41            14.03  2016-11-24  13:44:00
17      20.117              90.39            14.17  2016-11-24  13:45:00
18      19.579              92.55            14.06  2016-11-24  13:45:00
19      16.364              78.51            13.71  2016-11-24  13:46:00
20      19.147              91.49            14.17  2016-11-24  13:46:00
21      19.342              91.46            14.16  2016-11-24  13:47:00
22      21.959              91.19            14.37  2016-11-24  13:47:00
23      19.951              91.64            13.87  2016-11-24  13:48:00
24      17.130              90.47            14.38  2016-11-24  13:48:00
25      19.822              91.90            14.19  2016-11-24  13:49:00
26      20.559              91.96            14.18  2016-11-24  13:49:00
27      16.649              92.24            14.23  2016-11-24  13:50:00
28      21.036              90.93            13.97  2016-11-24  13:50:00
29      22.457              92.36            14.28  2016-11-24  13:51:00
..         ...                ...              ...         ...       ...
643     19.104              87.31            13.99  2016-11-24  19:02:00
644     17.316              84.72            14.28  2016-11-24  19:03:00
645     19.767              86.30            13.83  2016-11-24  19:03:00
646     19.404              87.10            13.57  2016-11-24  19:04:00
647     18.202              89.59            14.21  2016-11-24  19:04:00
648     21.895              84.36            14.02  2016-11-24  19:05:00
649     19.598              87.46            14.25  2016-11-24  19:05:00
650     19.052              88.81            13.55  2016-11-24  19:06:00
651     17.349              75.29            14.39  2016-11-24  19:06:00
652     21.164              84.18            14.12  2016-11-24  19:07:00
653     19.757              88.41            13.95  2016-11-24  19:07:00
654     21.590              83.09            13.79  2016-11-24  19:08:00
655     17.428              83.86            13.99  2016-11-24  19:08:00
656     23.409              87.00            12.60  2016-11-24  19:09:00
657     18.122              88.76            14.41  2016-11-24  19:09:00
658     18.846              90.67            13.83  2016-11-24  19:10:00
659     22.126              86.04            14.22  2016-11-24  19:10:00
660     19.223              87.12            12.16  2016-11-24  19:11:00
661     21.667              85.63            14.35  2016-11-24  19:11:00
662     19.038              88.73            14.40  2016-11-24  19:12:00
663     21.831              84.15            14.43  2016-11-24  19:12:00
664     18.812              89.00            14.16  2016-11-24  19:13:00
665     18.158              86.30            14.13  2016-11-24  19:14:00
666     21.874              86.07            13.94  2016-11-24  19:14:00
667     23.073              83.97            14.18  2016-11-24  19:15:00
668     20.952              88.67            14.35  2016-11-24  19:15:00
669     19.397              84.86            14.35  2016-11-24  19:16:00
670     20.117              84.99            14.33  2016-11-24  19:16:00
671     17.995              86.21             6.88  2016-11-24  19:17:00
672     22.175              85.69            14.23  2016-11-24  19:18:00

[673 rows x 5 columns]