![Imagen](itd.png)

# Analisis De Datos Masivos
## SQLite
    
## Nombre Del Docente
### Jose Gabriel Rodriguez Rivas
    
## Francisco Javier Favela Najera

In [1]:
import sqlite3
import pandas as pd
# this is a library for data visualization
from matplotlib import pyplot as plt
# this is to say that we want our plots to be part of this page, and not opened in a new window
%matplotlib inline

In [2]:
sqlite3.connect('phonebook.db')

In [3]:
conn = sqlite3.connect('phonebook.db')

In [4]:
conn.cursor()

In [5]:
cur = conn.cursor()

In [6]:
query = "SELECT name FROM coworkers;"
cur.execute(query)

In [7]:
for row in cur:
 print(row)

('Han Solo',)
('Leia Skywalker',)
('Luke Skywalker',)
('Obi-Wan Kenobi',)
('Anakin Skywalker',)
('Jabba The Hutt',)
('Greedo',)
('R2D2',)
('C3PO',)

## consultar princesas

In [8]:
query = "SELECT name FROM coworkers where title='Princess';"
cur.execute(query)

In [9]:
for row in cur:
 print(row)

('Leia Skywalker',)

## Proporcione el código para consultar los nombres de todas las princesas y los recaudadores

In [10]:
query = "SELECT name FROM coworkers where title='Princess' or title='Debt Collector' ;"
cur.execute(query)
for row in cur:
 print(row)

('Leia Skywalker',)
('Greedo',)

## Proporcione el código para consultar los nombres y los números de todos los Jedi.

In [11]:
query = "SELECT name,number FROM coworkers where title='Jedi' ;"
cur.execute(query)
for row in cur:
 print(row)

('Luke Skywalker', 5558963267)
('Obi-Wan Kenobi', 5558963276)

## Proporcione el código para consultar los nombres de los droids.

In [12]:
query = "SELECT name FROM coworkers where title='Astro Droid' OR title='Protocol Droid';"
cur.execute(query)
for row in cur:
 print(row)

('R2D2',)
('C3PO',)