![Imagen](itd.png)

# Analisis De Datos Masivos
## Práctica de laboratorio 4.1.3.6 Clasificación del árbol de decisiones
    
## Nombre Del Docente
### Jose Gabriel Rodriguez Rivas
    
## Francisco javier Favela Najera

In [8]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
#import folium_utils
%matplotlib inline

In [14]:
conn=sqlite3.connect('InternetSpeed.db')
cur=conn.cursor()

In [17]:
query='select * from average_speed'
df=pd.read_sql(query,conn)
df.head()

   index       Area  Average_p  Average_u  Average_d
0      0  E07000188   8.451897  21.114114  51.967713
1      1  E07000101   8.317833  20.733028  51.709226
2      2  E09000030   8.983481  22.469438  54.412001
3      3  E09000031   8.956481  22.353593  55.138017
4      4  E09000032   9.144285  22.859003  55.962499

In [19]:
df.drop('index',inplace=True,axis=1)
df.shape

KeyError: "['index'] not found in axis"

In [20]:
df.shape

(326, 4)

In [21]:
df.head()

        Area  Average_p  Average_u  Average_d
0  E07000188   8.451897  21.114114  51.967713
1  E07000101   8.317833  20.733028  51.709226
2  E09000030   8.983481  22.469438  54.412001
3  E09000031   8.956481  22.353593  55.138017
4  E09000032   9.144285  22.859003  55.962499

In [23]:
la_json=pd.read_json('LA_poligons.json')
la_json.head()

     LA_code                                           geometry
0  E06000001  {u'type': u'MultiPolygon', u'coordinates': [[[...
1  E06000002  {u'type': u'MultiPolygon', u'coordinates': [[[...
2  E06000003  {u'type': u'MultiPolygon', u'coordinates': [[[...
3  E06000004  {u'type': u'MultiPolygon', u'coordinates': [[[...
4  E06000005  {u'type': u'Polygon', u'coordinates': [[[-1.63...